.flex{
    display: flex;   
}

.flex.flex-row{
    flex-direction: row;
}

.flex.flex-col{
    flex-direction: column;
}

.flex.flex-between{
    justify-content: space-between;
}

.flex.flex-middle{
    align-items: center;
}
