footer{
    position: relative;
    padding-bottom: 55px;
    max-width:1250px;
    margin:0px auto;
}

.pagination-seection {
    text-align: right;
    padding-right: 330px;
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 15px;
    text-decoration: none;
}
.pagination a:hover {
    background: #cc3333;
    color: #ffffff;
    border-radius: 10px;
}

.info{
    display: inline-block;
    background: #ff9999;
    color: #ffffff;
    width: 330px;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    float: right;

}
.info:hover{
    background: #cc3333;
}
.info a:hover{
    color: #ffffff;
    text-decoration: none;
}