body > header .header-main-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body > header .header-main-container> div:nth-child(1)
{
    flex: 1;
}
body > header .header-main-container> div:nth-child(2)
{
    flex: 4;
    padding-left: 185px;
    font-size: 25px;
    color: #cc3333;
    text-decoration: underline;

}
body > header .header-main-container> div:nth-child(3)
{
    padding-right: 125px;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
body > header .header-main-container> div:nth-child(3) > span
{
    vertical-align: super;
}
