body {
    font-size: 14px;
    line-height: 20px;
    color: #646464;
}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0px !important;
}
.content-section{
    margin-top: 105px;
}
.content-section span{
    padding: 15px 25px;
    font-size: 25px;
}
.content-section span:hover{
    background: #cc3333;
    color: #ffffff;
    border-radius: 35px;    
}
.content-section form{
    margin-top: 20px;
}
.content-section form > input{
    width: 955px;
    font-size: 25px;
    padding: 15px 65px;
    border: none;
    background: #f7f7f7;

}
.content-section form > input:focus{
    outline: none;

}
.content-section .menu{
    margin-top: 30px;

}
.content-section .menu ul{
    display: inline-flex;
    color: #cc3333;
    font-weight: 300;
    padding-bottom: 30px;

}
.content-section .menu ul > li{
    padding-right: 45px;
    font-size: 20px;
}
.content-section .menu ul > li:hover{
    font-weight: 500;
    text-decoration: underline;
}

.vc_image_section{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.image-section{
    width: 310px;
    height: 385px;
    color: #333333;
    margin-right: 30px;
    margin-bottom: 40px;
}
.image-section:hover{
    background: black;
}
.image-section .content-section{
    background: #f7f7f7cc;
    padding: 18px;
    position: relative;
    bottom: -200px;
}
.image-section .content-section .title{
    font-size: 20px;
    display: inline-block;
    font-weight: 700;
    padding-right: 80px;
}
.image-section .content-section .like{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;

}
.image-section .content-section .subtitle{
    font-size: 17px;
}
