body{
    font-family: 'Lato', sans-serif;
    color : #6D6D6D;
    background: #f7f7f7;
}
div, ul{
    max-width: 100%;
}
.row{
    margin-left: 0;
    margin-right: 0;
}

.site-content{
    max-width:1140px;
    margin:0px auto;
    background: #FFF;
    z-index: 2;
}
.home-content{
    padding: 0 15px;
    padding-bottom:45px;
}

.contact-page h1{
    color : #ff4d55;    
    text-transform: uppercase;
    font-size: 29px;
    margin-bottom: 25px;
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.white-content{color:white;}

.full-width {
    width: 100%!important;
}

.ybt-line{ 
    border-top : solid 1px;
    margin: 15px 0;
}

p{
    margin-bottom:1.5em;
}

i{
    font-style: italic;
}

b,
strong{
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}
.vc-content-heading{
    margin: 40px 0;
}

/* < SM */
@media (max-width: 768px) {
    .site-content{
        margin-bottom: 60px;
        padding-bottom:45px;
    }



}