.sidebar-section{
    margin-top: -65px;
}
.sidebar-section .sidebar-profile-section{
    background: #ffffff;
    border-radius: 20px;
    padding: 10px 0;
    padding-bottom: 20px;
}
.sidebar-section .sidebar-profile{
    margin-top: 20px;
}
.sidebar-section img{
    position: relative;
    bottom: -87px;
    max-height: 140px;  
}
.sidebar-section .sidebar-profile span{
    display: block;
    padding-left: 145px;
    color: #333333;
}
.sidebar-section .sidebar-profile > span:nth-child(1){
    color: #333333;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 5px;
}
.sidebar-section .sidebar-profile > span:nth-child(2){  
    font-size: 18px;
    font-weight: 300;
    padding-bottom : 3px;
}
.sidebar-section .sidebar-profile > span:nth-child(3){
    padding: 6px;
    background-color: #cc3333;
    width: 30px;
    position: relative;
    left: 145px;
    border-radius: 6px;
}

.sidebar-subcontent{
    background: #ffffff;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;

}
.sidebar-subcontent .sidebar-profile-cta{
    width: 330px;
    background-color: #cc3333;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}
.sidebar-subcontent .sidebar-profile-cta:hover{
    background: #ffffff;
    color: #cc3333;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid #cc3333;
}
.sidebar-subcontent .sidebar-profile-option{
    display: inline-flex;
    width: 330px;
    margin-top: 20px;
}
.sidebar-subcontent .sidebar-profile-option > li{
    border: 1px solid #CCCCCC;
    font-size: 22px;
    width: 50%;
    text-align: center;
    font-weight: 600;
    padding: 20px 0;
    color: #333333;
    border-radius: 16px;
}
.sidebar-subcontent .sidebar-profile-option > li:hover{
    background: #f7f7f7;
    color: #333333;
    cursor: pointer;
    border-radius: 16px;
}
.sidebar-manage{
    background: #ffffff;
    border-radius: 20px;
    margin-top: 40px;
}
.sidebar-manage .sidebar-manage-option{
    display: inline-flex;
    width: 100%;
}
.sidebar-manage .sidebar-manage-option > li{
    font-size: 18px;
    width: 50%;
    text-align: center;
    padding: 20px 0;
    color: #999999;
}
.sidebar-manage .sidebar-manage-option > li:hover{
    background: #f7f7f7;
    color: #333333;
    cursor: pointer;
    border : 1px solid #333333;
    border-radius: 20px;
}
.sidebar-menu {
    background: #ffffff;
    padding: 5px 0px;
    border-radius: 20px;
    margin-top: 40px;
}
.sidebar-menu .sidebar-menu-option {

}
.sidebar-menu .sidebar-menu-option > li{
    line-height: 3.5;
    font-size: 22.8px;
    font-weight: 500;
    color: #333333;
    padding: 0px 50px;
}
.sidebar-menu .sidebar-menu-option > li:hover{
    background: #cc3333;
    color: #ffffff;
    cursor: pointer;
}